.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
    text-align: center;
    font-family: "Cooper Black";
    font-size: x-large;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
    text-align: center;
    font-family: "Cooper Black";
    font-size: x-large;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
    text-align: center;
    font-family: "Cooper Black";
    font-size: x-large;
}