.greetingContainer {
    padding-left: 20px;
    padding-right: 20px;
    width: 370px;
    background-color: orange;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: x-large;
}

.inputStr {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.norlamInput {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.norlamInput:focus {
    outline: none;
}

.errorInput {
    padding: 10px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 2px solid red;
}

.addButton {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 10px;
    padding: .4em 1.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}

.addButton:hover, .addButton:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.errorText {
    color: #e74c3c;
    font-weight: bold;
}